@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&display=swap');

.montserrat{
  font-family: 'Montserrat', sans-serif;
}
.lora{
  font-family: 'Lora', sans-serif;
}
html,body {
  height: 100%;
}

.logo{
  height:75px
}
.imageContainer{
  position: relative;
}
.titrePhoto{
  display:none;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index:30;
}
.imgplat{
  opacity: 1;
}
.noHover{
  pointer-events: none;
}
footer{
  background-color: #b58900;
  position: rabsolute;
  width: 100%;
}
.cartehover:hover{
  color: #073642;
}
.colorTitle{
  color: #b58900;
}
