.logo{
  height:75px
}
.imageContainer{
  position: relative;
}
.titrePhoto{
  display:none;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index:30;
}
.imgplat{
  opacity: 1;
}
.noHover{
  pointer-events: none;
}
footer{
  background-color: #b58900;
}
.cartehover:hover{
  color: #073642;
}
