{% extends 'base.html.twig' %}

{% block title %}Carte{% endblock %}

{% block body %}
<nav className='ariane' aria-label="breadcrumb">
      <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Accueil</a></li>
      <li class="breadcrumb-item active" aria-current="page">Carte</li>
      </ol>
    </nav>
    <h1 class="m-auto w-75 text-center p-4">Carte du restaurant</h1>
    <div class="p-3 w-50 m-auto border border-primary rounded shadow bg-dark">
        <h3>Catégory1</h3>
        <ul>
            <li>
                <span class="p-2">Titre du plat</span>
                <span class="p-2">description du plat</span>
                <span class="p-2">0.0 €</span>
            </li>
            <li>
                <span class="p-2">Titre du plat</span>
                <span class="p-2">description du plat</span>
                <span class="p-2">0.0 €</span>
            </li>
            <li>
                <span class="p-2">Titre du plat</span>
                <span class="p-2">description du plat</span>
                <span class="p-2">0.0 €</span>
            </li>
            <li>
                <span class="p-2">Titre du plat</span>
                <span class="p-2">description du plat</span>
                <span class="p-2">0.0 €</span>
            </li>
        </ul>

    </div> 
    <div class="m-4"></div>       
    <div class="p-3 w-50 m-auto border border-primary rounded shadow bg-dark">
        <h3>Catégory2</h3>
        <ul>
            <li>
                <span class="p-2">Titre du plat</span>
                <span class="p-2">description du plat</span>
                <span class="p-2">0.0 €</span>
            </li>
            <li>
                <span class="p-2">Titre du plat</span>
                <span class="p-2">description du plat</span>
                <span class="p-2">0.0 €</span>
            </li>
            <li>
                <span class="p-2">Titre du plat</span>
                <span class="p-2">description du plat</span>
                <span class="p-2">0.0 €</span>
            </li>
            <li>
                <span class="p-2">Titre du plat</span>
                <span class="p-2">description du plat</span>
                <span class="p-2">0.0 €</span>
            </li>
        </ul>

    </div>

{% endblock %}
